:root {
  /* Main Colors */
  --bg-color: aliceblue;
  --window-background-color: #fff;
  --text-main-color: #121212;
  --text-alt-color: #d77a00;
  --border-color: #b8b8b8;

  /* Font Families */
  --header-font: "IBM Plex Mono";
  --long-text-font: "IBM Plex Sans";
}

body {
  background-color: var(--bg-color);
  color: var(--text-main-color);
  font-family: var(--header-font);
  font-size: 1.2rem;
  margin: 20px;
}

header {
  margin: 0;
  padding: 0;
  background-color: var(--border-color);
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 8px;
  text-shadow: 2px 2px 0px var(--text-alt-color);
}

button {
  background-color: var(--bg-color);
  border: 3px solid var(--text-main-color);
  font: var(--header-font);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-alt-color);
  margin-top: 8px;
}

.main-window {
  font-weight: 800;
  background-color: var(--window-background-color);
  padding: 8px;
  margin-top: 16px;
  box-sizing: border-box;
  border: 25px solid var(--border-color);
}

.window-title {
  margin-bottom: 8px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
}

.split-view {
  gap: 24px;
  display: flex;
  flex-wrap: wrap;
}

.avatar-box {
  border: 2px dashed var(--text-alt-color);
  height: 55vh;
  width: 45vw;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  margin-left: 8px;
  margin-bottom: 8px;
}

.clothes {
  flex: 1;
}

.clothes p {
  border-bottom: 2px solid;
}

.btn {
  display: block;
  margin-bottom: 24px;
  min-width: 100%;
  text-align: left;
  padding: 8px;
  font-weight: 900;
  cursor: pointer;
}

.vignette-window {
  background-color: var(--window-background-color);
  margin-top: 16px;
  padding: 8px;
  border: 3px solid var(--border-color);
  color: var(--text-main-color);
}

.vignette-text-header {
  border-bottom: 2px solid var(--text-main-color);
}

.vignette-text {
  min-height: 10rem;
  border: 2px solid var(--text-main-color);
  margin-top: 8px;
  font-family: var(--long-text-font);
  font-weight: 300;
  padding: 8px;
  font-size: 1.1rem;
}

/* CATALOG TABLE */
.catalog-table {
  width: 100%;
  border-collapse: collapse;
  color: var(--text-main-color);
}

.catalog-table th,
.catalog-table td {
  border: 1px solid var(--text-main-color);
  padding: 8px;
}

.catalog-table img {
  width: 50px;
  border: 1px solid var(--text-alt-color);
}

.catalog-table .desc {
  font-family: var(--header-font);
  font-weight: 300;
  font-size: 1rem;
}
