:root {
  /* Main Colors */
  --bg-color: aliceblue;
  --window-background-color: #fff;
  --text-main-color: #121212;
  --text-alt-color: #000080;
  --border-color: #b8b8b8;

  /* Font Families */
  --header-font: "IBM Plex Mono";
  --long-text-font: "IBM Plex Sans";
}

body {
  background-color: var(--bg-color);
  color: var(--text-main-color);
  font-family: var(--header-font);
  font-size: 1.2rem;
  margin: 20px;
}

header {
  margin: 0;
  padding: 0;
  background-color: var(--border-color);
  text-align: center;
  box-sizing: border-box;
}

h1 {
  margin: 0;
  padding: 8px;
  text-shadow: 2px 2px 0px var(--text-alt-color);
}

button {
  background-color: var(--bg-color);
  border: 3px solid var(--text-main-color);
  font: var(--header-font);
  font-size: 0.9rem;
  font-weight: 500;
  color: var(--text-alt-color);
  margin-top: 8px;
}

.main-window {
  font-weight: 800;
  background-color: var(--window-background-color);
  padding: 8px;
  margin-top: 16px;
}

.title-bar {
  display: flex;
  justify-content: space-between;
}
